.img-about-us {
    height: 150px;
    background-image: url(img/about/cupOfCoffee.jpg);
    background-position:50% 50%;  /* Sets reference point to scale from */
    background-size: cover; 
    position: relative;
    text-align: center;
    padding: 80px 0 0 0;
}
.img-about-us h1 {
    color: #e54c2a;
    font-size: 44px;
    font-family: Helvetica, Arial, sans-serif;
    
}

.main-text {
    margin-top: 50px;
    line-height: 2em;
    font-size: 15px;
    padding: 0 50px;
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: 40px;
    text-align: justify;
}
.main-body {
    box-sizing: border-box;
    width: 90%;
    margin: auto;

}