#app-banner {
    height: 500px;
}

.content-app {
    padding: 100px, 50px;
}

.app-left { height: 100%; position: relative; }
.app-right { height: 100%; position: relative; }

.app-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.app-right .app-text {
    margin: 100px 50px;
}

.app-quote {
    /* background-image: url('./img/home/quote.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
    background-color:red;
    text-align: center;
    vertical-align: middle;
    padding: 150px 0;
    color: white;
}

.app-quote em {
    font-size: 25px;
}