/* Reset Body */
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #666;
}

.container{
    position: relative;
    background-color: #aaa;
    margin: 50px auto;
    width: 400px;
    height: 600px;
    border-radius: 15px;
}

h1{
    text-align: center;
    margin-top: 20px;
    position: relative;
    top: 50px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

input{
    width: 80%;
    height: 30px;
    margin: 10px 30px;
    padding: 10px;
    top: 80px;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

label{
    
}

#submit{
    width: 100px;
    height: 40px;
    margin-top: 20px;
    position: relative;
    left: 30%;
    padding-bottom:5px; 
}