/* Reset Body */
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #666;
}

.container{
    position: relative;
    background-color: #aaa;
    margin: 50px auto;
    width: 400px;
    height: 600px;
    border-radius: 15px;
}

.bg-signup{
    background-image: url(img/SignUp/coffeeku.jpeg);
    filter: blur(5px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.container img{
    position: absolute;
    top: 10px;
    left: 130px;
}

h1{
    left: 35%;
    margin-top: 20px;
    position: absolute;
    top: 120px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    
}

input{
    width: 80%;
    height: 30px;
    margin: 10px 30px;
    padding: 10px;
    top: 100px;
    position: absolute;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    background-color: transparent;
    border-style: none none solid none;
}

input:focus{
    outline: none;
}
#submit{
    width: 100px;
    height: 40px;
    margin-top: 20px;
    position: absolute;
    left: 30%;
    padding-bottom:5px; 
    top: 460px;
    background-color: white;
    color: black;
    border-radius: 10px;
    text-transform: uppercase;
}

#first-name{
    top: 160px;
}

#last-name{
    top: 220px;
}

#username{
    top: 280px;
}

#email{
    top: 340px;
}

#password{
    top: 400px;
}